/release



/app/projection_modes/__pycache__/
/app/utils/__pycache__/
/MFC_RELEASE
*.pyc
MFC_RELEASE.zip
**/__pycache__
__pycache__/
/MFC/UCL_Open-Illumiroom_V2.dist/
/MFC/UCL Open-Illumiroom V2 Launcher.exe
/app/assets/calibration/grey_code_photos/grey_code/
